<!-- Jinja2 is used -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>

<body onload="document.myform">
    <h3>Play Nim with the computer</h3>
    <h3>Initially the computer knows ony the rules - not the strategies</h3>
    <h3>Take 1, 2 or 3 from the pile</h3>
    <h3>The player who takes the last item wins</h3>

    <form action="/" name="myform" method="POST">
        <p>Game History</p>
        {% for line in history %}
        {{ line }}
        <br>
        {% endfor %}
        <p>How many do you take?
            <input name="mytake">
        </p>
        <br>
        <p><input name="myaction" value="Send" type="submit" {{ disabled }}></p>
        <p><input name="myaction" value="Reset" type="submit"></p>
    </form>
</body>

</html>